body{
    font-family:Arial,Helvetica,sans-serif;
    background-color:#0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white;
}
.project_container{
    background-color: rgba(255,255,255,0.03);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    min-height: 250px;
}
p{
    color: #a5a6d1;
}
.date_input{
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.03);
    color: white;
    width: 80%;
    border-width: 1px;
    border-color: #6366f1;

}
.fetch_result{
    background-color: #6366f1;
    color: white;
    margin-top: 10px;
    padding: 10px;
    width: 40%;
    border-width: 0px;
    border-radius: 5px;
}